body {
     margin:5px auto;
     width: 1000px;
}

table {
    border-collapse: collapse;
}

table, th, td {
   border: 1px solid black;
}

#top_bar {
    position:fixed;
    top:0;
}

#footer {
    position:fixed;
    bottom:0;
}



#footer {
    position:fixed;
    bottom:0px;
}

#menu a{
    width: 100px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 10px;
    background-color: lightblue;
}

#menu a.selected{
    background-color: blue;
}

#content {
    margin-top: 40px;
}