<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    -->
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

{#    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}"/>#}
{#    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>#}
{#    <script src="{% static 'js/jquery-ui.min.js' %}"></script>#}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    {% block head %}{% endblock %}

    <title>{% block title %}R2D2: Delivery & Fix{% endblock %}</title>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">R2D2</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>

                <li><a href="/delivery">Orders</a></li>
                <li><a href="/delivery/add_update">Create Order</a></li>
                {% if request.user.is_superuser %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Configurations
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/price_summary">Price Summary</a></li>
                            <li><a href="/phone">Phone Types</a></li>
                            <li><a href="/phone_var">Phone Variable</a></li>
                            <li><a href="/price">Variable Price</a></li>
                            <li><a href="/payment">Payment Info</a></li>
                            <li><a href="/delivery_status">Delivery Status</a></li>
                        </ul>
                    </li>
                    <li><a href="/admin">Admin</a></li>
                {% endif %}
                <li><a href="/accounts/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="content" class="container">
    {% block content %}{% endblock %}
</div>

{#<div id="footer">#}
{#    {% block footer %}{% endblock %}#}
{#    <div style="float:right">R2D2 By YiChen.</div>#}
{#</div>#}
</body>
</html>