{% extends "delivery/base.html" %}

{% block content %}
    <table class="table table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% for delivery_status in deliverystatus_list %}
            <tr>
                <td>
                    <a href="/delivery_status/detail/{{ delivery_status.id }}">{{ delivery_status.id }}</a>
                </td>
                <td>{{ delivery_status.name }}</td>
                <td>
                    <a href="/delivery_status/delete/{{ delivery_status.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/delivery_status/add">Add Delivery Status</a>
{% endblock %}