{% extends "delivery/base.html" %}

{% load r2d2_filters %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="well"><h2>Order List</h2></div>
        </div>
    </div>

    <form id="delivery_detail" action="/delivery/all" method="get">
        <button id="form_button" class="btn btn-info">Show all</button>
    </form>

    <p>

    <table class="table table-striped table-hover">
        {% if not object_list %}
            No Delivery Found
        {% else %}
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Status</th>
                <th>Delivery Company</th>
                <th>Serial</th>
                <th>Date</th>
                <th>Detail</th>
                <th>Action</th>
            </tr>
            {% for delivery in object_list %}
                <tr>
                    <td>
                        <form id="delivery_detail" action="/delivery/detail/{{ delivery.id }}" method="get">
                            {% if delivery.deleted %}
                                <button id="form_button" class="btn btn-danger">{{ delivery.id }}</button>
                            {% else %}
                                <button id="form_button" class="btn btn-info">{{ delivery.id }}</button>
                            {% endif %}
                        </form>
                    </td>
                    <td>{{ delivery.user.username }}</td>
                    <td>{{ delivery.delivery_status.name }}</td>
                    <td>{{ delivery.delivery_company }}</td>
                    <td>{{ delivery.serial }}</td>
                    <td>Start:{{ delivery.start_date }}
                        {% if delivery.receive_date %}
                            <br>Receive:{{ delivery.receive_date }}
                        {% endif %}
                        {% if delivery.check_date %}
                            <br>Check:{{ delivery.check_date }}
                        {% endif %}
                    </td>
                    <td>
                        {% for item in delivery.deliveryitem_set.all %}
                            <br>
                            {{ item.phone_type.name }}: {{ item.count }}
                            {% if item.received > 0 %}
                                , received: {{ item.received }}
                            {% endif %}
                            <br>
                            {% for check_result in item.checkresult_set.all %}
                                <br> {{ check_result.phone_status.name }} : {{ check_result.count }}
                                {% for response in check_result.response_set.all %}
                                    {{ response.phone_variable.name }} : {{ response.process_count }}
                                {% endfor %}
                            {% endfor %}
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        <form class="button_form" style="vertical-align: middle;margin: 10px" id="delivery_delete"
                              action="/delivery/delete" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="delivery_id" value="{{ delivery.id }}"/>
                            {% if not delivery.deleted %}
                                <button id="form_button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Hide</button>
                            {% else %}
                                <button id="form_button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Recover</button>
                            {% endif %}
                        </form>
                    </td>

                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}