{% extends "delivery/base.html" %}

{% block content %}
    {% if object %}
        <span class="label label-default">ID:</span> {{ object.id }}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <br>
        {% if object %}
            <input type="submit" value="Update"/>
        {% else %}
            <input type="submit" value="Create"/>
        {% endif %}
    </form>
{% endblock %}