{% extends "delivery/base.html" %}

{% load r2d2_filters %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h2>
                    Order Detail Print Version: # {{ delivery_id }}
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Order Detail:</h3>

            <table class="table table-striped table-hover">
                {% for field in delivery_form.visible_fields %}
                    <td>{{ field.label_tag }}</td>
                    <td> {{ field.value }}</td>
                    <tr>
                {% endfor %}
            </table>

            <h3>Received Detail:</h3>

            <table class="table table-striped table-hover">
                {% for field in taken_form.visible_fields %}
                    <td>{{ field.label_tag }}</td>
                    <td> {{ field.value }}</td>
                    <tr>
                {% endfor %}
            </table>

            <h3>Test Result:</h3>

            <table class="table table-striped table-hover" style="text-align:center">
                {{ check_form|check_table_print|safe }}
            </table>

            <h3>Confirm Detail:</h3>

            <table class="table table-hover" style="text-align:center">
                {{ feedback_form|feedback_table_print|safe }}
            </table>
        </div>
    </div>
    </div>
{% endblock %}