{% extends "delivery/base.html" %}

{% load r2d2_filters %}

{% block head %}
    <script>
        $(function () {
            $("#set_send_count_button").click(function () {
                var taken_field = $("[id^='id_taken_phone_type_']");
                var send_field = $("[id^='id_send_phone_type_']");
                for (var i = 0; i < taken_field.length; i++) {
                    taken_field[i].value = send_field[i].value;
                }
            });

            var feedback_fields = $("[id^='id_feedback_']");
            for (var i = 0; i < feedback_fields.length; i++) {

                feedback_fields.eq(i).click(function () {
                    var current_id = $(this).attr("id");
                    var suffix = current_id.substr(12).split('_');
                    var current_index = suffix[0] + "_" + suffix[1];
                    var sum = parseInt($("#id_fc_" + current_index).text());

                    var nums = $("[id^='id_feedback_" + current_index + "']");
                    for (var i = 0; i < nums.length; i++) {
                        var num_element = nums.eq(i);
                        sum = sum - parseInt(num_element.val());
                    }
                    $("#id_buyback_" + current_index).css("background", sum != 0 ? "#D9534F": "");
                    $("#id_buyback_" + current_index).text(sum);
                });

                feedback_fields.eq(i).click();
            }

            $("#id_start_date").datepicker({dateFormat: "yy-mm-dd"});
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h2>
                    {% if delivery_form.delivery_id.value != '-1' %}
                        Order Detail : # {{ delivery_id }}

                        <div style="float: right"><a href="/delivery/detail_print/{{ delivery_id }}" class="btn btn-primary" role="button">Printable</a></div>
                    {% else %}
                        Create Order
                    {% endif %}
                </h2>
            </div>
        </div>
    </div>
    {% if message %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert-info">{{ message }}</div>
            </div>
        </div>
    {% endif %}

    {% if taken_form.non_field_errors|length != 0 %}
        <div class="alert-danger">
            Received Detail Error:
            <ul>
                {% for error in taken_form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if check_form.non_field_errors|length != 0 %}
        <div class="alert-danger">
            Test Result Error:
            <ul>
                {% for error in check_form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if feedback_form.non_field_errors|length != 0 %}
        <div class="alert-danger">
            Confirm Detail Error:
            <ul>
                {% for error in feedback_form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tabs-1">Delivery Detail</a></li>

                {% if delivery_form.delivery_id.value != '-1' %}
                    <li><a data-toggle="tab" href="#tabs-2">Received Detail</a></li>
                {% endif %}

                {% if delivery_form.delivery_id.value != '-1' %}
                    <li><a data-toggle="tab" href="#tabs-3">Test Result</a></li>
                {% endif %}
                {% if delivery_form.delivery_id.value != '-1' %}
                    <li><a data-toggle="tab" href="#tabs-4">Confirm Detail</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">

                <div id="tabs-1" class="tab-pane fade in active">
                    <h3>Order Detail:</h3>

                    <form method="post" action="/delivery/add_update">
                        {% csrf_token %}
                        <table class="table table-striped table-hover">
                            {{ delivery_form.as_table }}
                        </table>
                        <p>
                            <button type="reset"  class="btn btn-default">Reset</button>
                            <button type="submit" class="btn btn-primary">
                                {% if delivery_form.delivery_id.value == '-1' %}
                                    Create
                                {% else %}
                                    Update
                                {% endif %}
                            </button>
                        </p>
                    </form>
                </div>


                {% if delivery_form.delivery_id.value != '-1' %}
                    <div id="tabs-2" class="tab-pane fade">
                        <h3>Received Detail:</h3>
                        {% if request.user.is_superuser %}
                            <div>
                                <button id="set_send_count_button" class="btn btn-info">Use Order Detail Count</button>
                            </div>
                        {% else %}
                            <div class="alert alert-danger">
                                Only Super User can change Received Details
                            </div>
                        {% endif %}
                        <p/>
                        {% if request.user.is_superuser %}
                            <form method="post" action="/delivery/taken">
                                {% csrf_token %}
                                <table class="table table-striped table-hover">
                                    {{ taken_form.as_table }}
                                </table>
                                <p>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                    <button type="submit" class="btn btn-primary">Confirm Received</button>
                                </p>
                            </form>
                        {% else %}
                            <table class="table table-striped table-hover">
                                {% for field in taken_form.visible_fields %}
                                    <td>{{ field.label_tag }}</td>
                                    <td> {{ field.value }}</td>
                                    <tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                {% endif %}

                {% if delivery_form.delivery_id.value != '-1' %}
                    <div id="tabs-3" class="tab-pane fade">
                        <h3>Test Result:</h3>
                        {% if not request.user.is_superuser %}
                            <div class="alert alert-danger">
                                Only Super User can change Test Result
                            </div>
                        {% endif %}
                        <p/>
                        {% if request.user.is_superuser %}
                            <form method="post" action="/delivery/check">
                                {% csrf_token %}
                                {% for hidden in check_form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                <table class="table table-striped table-hover" style="text-align:center">
                                    {{ check_form|check_table|safe }}
                                </table>
                                <p>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                    <button type="submit" class="btn btn-primary">Submit Check Result</button>
                                </p>
                            </form>
                        {% else %}
                            <table class="table table-striped table-hover" style="text-align:center">
                                {{ check_form|check_table_print|safe }}
                            </table>
                        {% endif %}
                    </div>
                {% endif %}

                {% if delivery_form.delivery_id.value != '-1' %}
                    <div id="tabs-4" class="tab-pane fade">
                        <h3>Confirm Detail:</h3>

                        {% if feedback_form.is_readonly.value %}
                            <div class="alert alert-danger">
                                Feedback is Locked, Only Super user can update it.
                            </div>
                        {% endif %}

                        {% if not feedback_form.is_readonly.value %}
                            <form method="post" action="/delivery/feedback">
                                {% csrf_token %}
                                {% for hidden in check_form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                <table class="table table-hover" style="text-align:center">
                                    {{ feedback_form|feedback_table|safe }}
                                </table>

                                <p>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                    <button type="submit" class="btn btn-primary">Submit Check Result</button>
                                </p>
                            </form>
                        {% else %}
                            <table class="table table-hover" style="text-align:center">
                                {{ feedback_form|feedback_table_print|safe }}
                            </table>
                        {% endif %}
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}