{% extends "delivery/base.html" %}

{% block content %}
    <table class="table table-striped table-hover">
        <tr>
            <th></th>
            <th>User</th>
            <th>Info</th>
            <th>Action</th>
        </tr>
        {% for payment_info in paymentinfo_list %}
            <tr>
                <td>
                    <a href="/payment/detail/{{ payment_info.id }}">{{ payment_info.id }}</a>
                </td>
                <td>{{ payment_info.user.username }}</td>
                <td>{{ payment_info.info }}</td>
                <td>
                    <a href="/payment/delete/{{ payment_info.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/payment/add">Add Payment Info</a>
{% endblock %}