{% extends "delivery/base.html" %}

{% block content %}
    <table class="table table-striped table-hover">
        <tr>
            <th></th>
            <th>Phone Type</th>
            <th>Variable Name</th>
            <th>Action</th>
        </tr>
        {% for phone_var in phonevariable_list %}
            <tr>
                <td>
                    <a href="/phone_var/detail/{{ phone_var.id }}">{{ phone_var.id }}</a>
                </td>
                <td>{{ phone_var.phone_type.name }}</td>
                <td>{{ phone_var.name }}</td>
                <td>
                    <a href="/phone_var/delete/{{ phone_var.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/phone_var/add">Add Phone Variable</a>
{% endblock %}