{% extends "delivery/base.html" %}


{% block content %}
    <p>Phone Price List</p>

        Summary Table:
        <table class="table table-striped table-hover">
            <tr>
                {% for t_title in header_data %}
                    <th>{{ t_title }}</th>
                {% endfor %}
            </tr>
            {% for t_row in table_data %}
                <tr>
                    {% for t_cell in t_row %}
                        <td>{{ t_cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>


    {% if request.user.is_superuser %}

        Phone Type List:
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Default Repair Price</th>
                <th>Default Sale Price</th>
            </tr>
            {% for phone_type in phone_types %}
                <tr>
                    <td>{{ phone_type.name }}</td>
                    <td>{{ phone_type.swap_default_price }}</td>
                    <td>{{ phone_type.buyback_default_price }}</td>
                </tr>
            {% endfor %}
        </table>

        Specific Group Price:
        <table class="table table-striped table-hover">
            <tr>
                <th>Phone Type</th>
                <th>Status</th>
                <th>Price Type</th>
                <th>User Group</th>
                <th>Price</th>
            </tr>
            {% for phone_price in phone_prices %}
                <tr>
                    <td>{{ phone_price.phone_type.name }}</td>
                    <td>{{ phone_price.phone_status.name }}</td>
                    <td>{{ phone_price.process_type.name }}</td>
                    <td>{{ phone_price.group.name }}</td>
                    <td>{{ phone_price.price }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <table>
            <tr>
                <th>Name</th>
                <th>Default Repair Price</th>
                <th>Default Sale Price</th>
            </tr>
            {% for phone_type in phone_types %}
                <tr>
                    <td>{{ phone_type.name }}</td>
                    <td>{{ phone_type.swap_default_price }}</td>
                    <td>{{ phone_type.buyback_default_price }}</td>
                </tr>
            {% endfor %}
        </table>
        <table>
            <tr>
                <th>Phone Type</th>
                <th>Status</th>
                <th>Price</th>
            </tr>
            {% for phone_price in phone_prices %}
                <tr>
                    <td>{{ phone_price.phone_type.name }}</td>
                    <td>{{ phone_price.phone_status.name }}</td>
                    <td>{{ phone_price.price }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}