{% extends "delivery/base.html" %}

{% block content %}
    <table class="table table-striped table-hover">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Default Repair Price</th>
            <th>Default Sale Price</th>
        </tr>
        {% for phone_type in phonetype_list %}
            <tr>
                <td>
                    <a href="/phone/detail/{{ phone_type.id }}">{{ phone_type.id }}</a>
                </td>
                <td>{{ phone_type.name }}</td>
                <td>{{ phone_type.swap_default_price }}</td>
                <td>{{ phone_type.buyback_default_price }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/phone/add">Add Phone Type</a>
{% endblock %}