{% extends "delivery/base.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if object %}
            <input type="submit" value="Update"/>
        {% else %}
            <input type="submit" value="Create"/>
        {% endif %}
    </form>
{% endblock %}