{% extends "delivery/base.html" %}

{% block content %}
    <table class="table table-striped table-hover">
        <tr>
            <th></th>
            <th>Phone Type</th>
            <th>Group</th>
            <th>Phone Status</th>
            <th>Process Type</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        {% for price in phoneprice_list %}
            <tr>
                <td>
                    <a href="/price/detail/{{ price.id }}">{{ price.id }}</a>
                </td>
                <td>{{ price.phone_type.name }}</td>
                <td>{{ price.group.name }}</td>
                <td>{{ price.phone_status.name }}</td>
                <td>{{ price.process_type.name }}</td>
                <td>{{ price.price }}</td>
                <td>
                    <a href="/payment/delete/{{ payment_info.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/price/add">Add Price</a>
{% endblock %}